<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>كلية الحاسبات و المعلومات</title>
    {% load static %}
    <link rel="shortcut icon" href="images/fci-logo.ico">
    <meta name="Description" <!--Main Element CSS-->
    <link href="{% static '/info/homepage/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/info/homepage/css/form.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/info/homepage/css/font-awesome.css' %}" rel="stylesheet" type="text/css">

    <!--Flexy Menu CSS-->
    <link href="{% static '/info/homepage/css/flexy-menu.css' %}" rel="stylesheet" type="text/css">
    <!--LayerSlider CSS-->
    <link href="../layerslider/css/layerslider.css' %}" rel="stylesheet" type="text/css">
    <!--Important Owl CSS-->
    <link href="{% static '/info/homepage/css/owl.carousel.css' %}" rel="stylesheet" type="text/css">
    <!--Owl DefaultTheme -->
    <link href="{% static '/info/homepage/css/owl.theme.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static '/info/homepage/css/slideshow.css' %}" rel="stylesheet" />

    <link rel="stylesheet" href="../css/2-second-layout-color-5.css' %}">
    <link rel="stylesheet" type="text/css" href="../css/jquery.simplyscroll.css' %}" media="screen" />

</head>

<body class="d-block w-100" alt="slideShow">
    <style type="text/css">
        body {
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: gradient 30s ease infinite;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }
    </style>

    <!--Top Header Start-->
    <section class="top-header">
        <div class="wrapper topwrap">


        </div>
    </section>
    <!--Top Header End-->

    <div class="wrapper">
        <header class="header-section">
            <div class="logo">
                <div class="logo-wrapper">
                    <a href="#"><img src="{% static 'info/images/fci-logo.jpg' %}" /></a>
                </div>
            </div>

            <ul class="flexy-menu">
                <li id="home">
                    <a href="{% url 'fciscu' %}"> <i class="fa fa-home"></i> Home</a>

                </li>

                <li id="number">
                    <a href="{% url 'about' %}"><i class="fa fa-thumbs-o-up"></i> About</a>
                    <div class="menu-space"></div>

                </li>
                <li id="contact"><a href="{% url 'studyatfci' %}"><i class="fa fa-users"></i> Study At FCI</a>
                    <div class="menu-space"></div>
                </li>
                <li id="about"><a href="{% url 'news_and_events' %}"><i class="fa fa-lightbulb-o"></i> News & Events</a>
                    <div class="menu-space"></div>
                </li>
                <li id="contact"> <a href="{% url 'student_additional_services' %}"><i class="fa fa-envelope-o"></i>
                        Student
                        Services</a>
                    <div class="menu-space"></div>
                </li>
                <li id="contact"><a href="#"><i class="fa fa-envelope-o"></i> Log in</a>
                    <div class="menu-space"></div>
                </li>
                <li><a id="openD" href="javascript:void(0)"><i class="fa fa-key"></i> Register</a>
                    <div class="menu-space"></div>
                </li>
            </ul>

        </header>
        <br />
        <div class="container">
            <div class="content-wrapper">
                <section class="stripe service-panel">


                    <nav class="navbar navbar-light bg-light">
                        <div class="container-fluid">
                            <h2>النشاط الرياضي</h2>
                        </div>
                    </nav>
                    <br />



                    <h3>النشاط الرياضي</h3>
                    <h3>كرة القدم الخماسية</h3>
                    <p>لكل جامعة الحق في المشاركة بعدد 10 لاعبين</p>
                    <p>زمن المباراة 70 دقيقة من شوطين</p>
                    <p>يحصل الفائز ثلاث نقاط و التعادل نقطة واحدة</p>

                    <br />
                    <h3>كرة السلة</h3>
                    <p>لكل جامعة الحق بالمشاركة بفريقين - طلبة/ طالبات</p>
                    <p>يتكون كل فريق من 10 لاعبين</p>
                    <p>يحصل الفريق الفائز على ثلاث نقاط و المهزوم نبقطة واحدة</p>
                    <p>تقام المباراة من أربع أشواط كل شوط 10 دقائق</p>

                    <br />
                    <h3>تنس الطاولة</h3>
                    <p>تشترك كل جامعة بفريقين - طلبة و طالبات</p>
                    <p>يتكون كلا فريق من 5 لاعبين</p>
                    <p>تقام البطولة بنظام خروج المغلوب</p>

                    <br />
                    <h3>تنس أرضي</h3>
                    <p>لكل جامعة الحق بالمشاركة بفريقين - طلبة و طالبات</p>
                    <p>يتكون كل فريق من 4 لاعبين</p>
                    <p>تتكون كل مباراة من 4 مجموعات و تشمل كل مجموعة ستة أشواط</p>
                    <p>تقام البطولة بنظام خروج المغلوب</p>

                    <br />
                    <h3>التحكيم</h3>
                    <p>يتولى التحكيم لجميع المباريات حكام معتمدون من قبل الاتحادات الرياضية لكل لعبة في جمهورية مصر
                        العربية</p>

                    <br />
                    <h3>الجوائز</h3>
                    <p>يقدم كأس للفرق الفائزة بالمركز الأول في كل لعبة</p>
                    <p>تقدم ميداليات ذهبية للفريق / اللاعب الفائز بالمركز الأول</p>
                    <p>تقدم ميداليات فضية للفريق / اللاعب الفائز بالمركز الثاني</p>
                    <p>تقدم ميداليات برونزية للفريق / اللاعب الفائز بالمركز الثالث</p>
                    <p>يقدم كأس عام طلبة للفريق الحائز على أكبر عدد من النقاط</p>
                    <p>يقدم كأس عام طالبات للفريق الحائز على أكبر عدد من النقاط</p>
                    <p>يقدم كأس عام للنشاط الرياضي للجامعة الفائزة بأكبر عدد من النقاط</p>

                    <br />
                    <br />
                    <br />

                    <div class="footer-bottom">
                        <div class="copyright">
                            Copyright © 2021 <a target="_blank">FCI</a>
                        </div>

                    </div>

            </div>


            <!--Go To Top-->
            <a href="#" class="back-to-top"></a>
            <!--End-->

            </footer>
            <!--Footer End-->

        </div>

    </div>

    <div class="clearfix"></div>


    <script type="text/javascript" src="{% static '/info/homepage/js/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/info/homepage/js/greensock.js' %}"></script>
    <!--Flexy Menu Script-->
    <script type="text/javascript" src="{% static '/info/homepage/js/flexy-menu.js' %}"></script>
    <!--LayerSlider Script-->
    <script type="text/javascript" src="../layerslider/js/layerslider.kreaturamedia.jquery.js'"></script>
    <script type="text/javascript" src="../layerslider/js/layerslider.transitions.js'"></script>
    <!--Carousel Plugin Script-->
    <script type="text/javascript" src="{% static '/info/homepage/js/owl.carousel.js' %}"></script>
    <!-- MEGAFOLIO PRO GALLERY SCRIPT -->
    <script type="text/javascript" src="megafolio/js/jquery.themepunch.megafoliopro.js' "></script>
    <!-- COLORBOX LIGHTBOX SCRIPT -->
    <script type="text/javascript" src="{% static '/info/homepage/js/jquery.colorbox.js' %}"></script>
    <!--Social Share Button Script-->
    <script src="{% static '/info/homepage/js/jquery.sharrre.min.js' %}" type="text/javascript"></script>
    <!-- Fancybox Script -->
    <script type="text/javascript" src="{% static '/info/homepage/js/jquery.fancybox.pack8cbb8cbb.js?v=2.1.5"></script>
    <!--Tooltip Script-->
    <script type="text/javascript" src="{% static '/info/homepage/js/tooltip.js' %}"></script>
    <!--Placeholder Script-->
    <script type="text/javascript" src="{% static '/info/homepage/js/placeholder.js' %}"></script>
    <!--model Script-->
    <script type="text/javascript" src="{% static '/info/homepage/js/jquery.modal.min.js' %}"></script>
    <!--Custom-->
    <script type="text/javascript" src="{% static '/info/homepage/js/custom.js' %}"></script>



    <script src="{% static '/info/homepage/js/slideshow.js' %}"></script>


</body>

<!-- Mirrored from elshennawy.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 19 Dec 2021 12:28:06 GMT -->

</html>