/**
 * Author:      Matt Hinchliffe <www.maketea.co.uk>
 * Modified:    13/06/2014
 * Description: Simple jQuery slideshow
 * Example:
 * <div class="slideshow">
 *     <ul class="carousel">
 *         <li class="slide"><a href="#">Option 1</a></li>
 *         <li class="slide"><a href="#">Option 2</a></li>
 *     </ul>
 * </div>
 */

/* slides */
.slideshow {
	position:relative;
}

.slideshow a {
	text-align:center;
	text-decoration:none;
	color:#fff;
	background:#666;
}

.slideshow a:hover,
.slideshow .selected a {
	background-color:#333;
}

.carousel {
	margin:0;
	padding:0;
	list-style:none;
}

.slide {
	z-index:100;
}

.slide img {
	display:block;
}

/* pagination */
.slides-pagination {
	position: absolute;
bottom: 6px;
right: 15px;
margin: 0;
padding: 0;
list-style: none;
z-index: 110;
}

.slides-pagination li {
	display:inline-block;
}

.slides-pagination a {
	display: block;
float: right;
width: 26px;
height: 24px;
margin-right: 5px;
right: 5px;
border-radius: 13px;
padding: 2px;
}

/* skip */
.slides-next,
.slides-prev {
	position:absolute;
	top:50%;
	margin-top:-1em;
	padding:0 .5em;
	z-index:120;
}

.slides-next {
	right:0;
}

.slides-prev {
	left:0;
}

.slides-next.disabled,
.slides-prev.disabled {
	opacity:.5;
	cursor:auto;
}
